@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.2174 0.0019 106.5582);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.2101 0.0318 264.6645);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2174 0.0019 106.5582);
  --primary: oklch(0.2101 0.0318 264.6645);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.9729 0.0029 264.542);
  --secondary-foreground: oklch(0.2101 0.0318 264.6645);
  --muted: oklch(0.967 0.0029 264.5419);
  --muted-foreground: oklch(0.551 0.0234 264.3637);
  --accent: oklch(0.9702 0 0);
  --accent-foreground: oklch(0.2174 0.0019 106.5582);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.9256 0.0068 277.1579);
  --input: oklch(0.9276 0.0058 264.5313);
  --ring: oklch(0.6231 0.188 259.8145);
  --chart-1: oklch(0.5461 0.2152 262.8809);
  --chart-2: oklch(0.7038 0.123 182.5025);
  --chart-3: oklch(0.7227 0.192 149.5793);
  --chart-4: oklch(0.5544 0.0407 257.4166);
  --chart-5: oklch(0.7686 0.1647 70.0804);
  --sidebar: oklch(1 0 0);
  --sidebar-foreground: oklch(0.2101 0.0318 264.6645);
  --sidebar-primary: oklch(0.967 0.0029 264.5419);
  --sidebar-primary-foreground: oklch(0.2101 0.0318 264.6645);
  --sidebar-accent: oklch(0.9702 0 0);
  --sidebar-accent-foreground: oklch(0.2174 0.0019 106.5582);
  --sidebar-border: oklch(0.9276 0.0058 264.5313);
  --sidebar-ring: oklch(0.709 0 0);
  --font-sans: Inter, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Inter, ui-sans-serif, sans-serif, system-ui;
  --font-mono: Inter, ui-sans-serif, sans-serif, system-ui;
  --radius: 0.5rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 10px;
  --shadow-spread: 1px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 1px 10px 1px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 10px 1px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0 1px 10px 1px hsl(0 0% 0% / 0.1), 0 1px 2px 0px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 10px 1px hsl(0 0% 0% / 0.1), 0 1px 2px 0px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0 1px 10px 1px hsl(0 0% 0% / 0.1), 0 2px 4px 0px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0 1px 10px 1px hsl(0 0% 0% / 0.1), 0 4px 6px 0px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0 1px 10px 1px hsl(0 0% 0% / 0.1), 0 8px 10px 0px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 10px 1px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.2rem;
}

.dark {
  --background: oklch(0.2174 0.0019 106.5582);
  --foreground: oklch(0.9851 0 0);
  --card: oklch(0.2174 0.0019 106.5582);
  --card-foreground: oklch(0.9851 0 0);
  --popover: oklch(0.2686 0 0);
  --popover-foreground: oklch(0.9851 0 0);
  --primary: oklch(0.9219 0 0);
  --primary-foreground: oklch(0.2174 0.0019 106.5582);
  --secondary: oklch(0.2686 0 0);
  --secondary-foreground: oklch(0.9851 0 0);
  --muted: oklch(0.2686 0 0);
  --muted-foreground: oklch(0.709 0 0);
  --accent: oklch(0.3715 0 0);
  --accent-foreground: oklch(0.9851 0 0);
  --destructive: oklch(0.9181 0.1292 193.324);
  --destructive-foreground: oklch(0.9851 0 0);
  --border: oklch(0.2768 0 0);
  --input: oklch(0.325 0 0);
  --ring: oklch(0.5555 0 0);
  --chart-1: oklch(0.877 0.0939 69.7085);
  --chart-2: oklch(0.8026 0.1501 75.2682);
  --chart-3: oklch(0.7956 0.1559 80.9759);
  --chart-4: oklch(0.7533 0.1492 84.9788);
  --chart-5: oklch(0.6551 0.1249 91.2054);
  --sidebar: oklch(0.2174 0.0019 106.5582);
  --sidebar-foreground: oklch(0.9851 0 0);
  --sidebar-primary: oklch(0.7913 0.1586 87.393);
  --sidebar-primary-foreground: oklch(0.9851 0 0);
  --sidebar-accent: oklch(0.2686 0 0);
  --sidebar-accent-foreground: oklch(0.9851 0 0);
  --sidebar-border: oklch(0.2768 0 0);
  --sidebar-ring: oklch(0.4386 0 0);
  --font-sans: Inter, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Inter, ui-sans-serif, sans-serif, system-ui;
  --font-mono: Inter, ui-sans-serif, sans-serif, system-ui;
  --radius: 0.5rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 10px;
  --shadow-spread: 1px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 1px 10px 1px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 10px 1px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0 1px 10px 1px hsl(0 0% 0% / 0.1), 0 1px 2px 0px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 10px 1px hsl(0 0% 0% / 0.1), 0 1px 2px 0px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0 1px 10px 1px hsl(0 0% 0% / 0.1), 0 2px 4px 0px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0 1px 10px 1px hsl(0 0% 0% / 0.1), 0 4px 6px 0px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0 1px 10px 1px hsl(0 0% 0% / 0.1), 0 8px 10px 0px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 10px 1px hsl(0 0% 0% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    font-family: "Inter", ui-sans-serif, sans-serif, system-ui;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Inter", ui-sans-serif, sans-serif, system-ui;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0%;
  }

  button,
  input,
  select,
  textarea {
    font-family: "Inter", ui-sans-serif, sans-serif, system-ui;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0%;
  }
}
